body {
    background-color: lightgoldenrodyellow;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background-color: rgb(122, 79, 0);
    color: white;
    padding: 10px 20px;

    border-radius: 24px;
}