.student-table {
    display: grid;
    grid-template-columns: 180px 180px 180px 180px 180px 180px 180px 180px;
    padding: 10px;
    gap: 10px;

    border-radius: 16px;

    background-color: rgb(182, 124, 0);
}

.student-title, .student-content {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px 10px;
    border-radius: 24px;

    font-weight: bold;
    font-size: 16px;

    height: 30px;
    transition: 0.8s height ease, 0.8s font-size, 0.8s background-color, 0.8s color, 0.8s box-shadow;
}

.student-title {
    background-color: rgb(122, 79, 0);
    color: white;
}

.student-content {
    background-color: rgb(255, 205, 112);
}

.student-content:hover {
    background-color: rgb(122, 79, 0);
    color: white;
    height: 60px;
    font-size: 24px;
    box-shadow: 0 0 12px 2px rgb(253, 255, 145);;
}